{% extends '../base/base.html' %}
{% block page_css %}
	<link rel="stylesheet" type="text/css" href="/resource/css/base.css">
	<link rel="stylesheet" type="text/css" href="/resource/css/pub.css">
	<link rel="stylesheet" type="text/css" href="/resource/css/product.css">
{% endblock %}

{% block content %}
	{% include "title.inc.html" %}
	<div class="product-list clearfix">
		{% include "cat.inc.html" %}
		<div class="p-panel">
			{% include "p-title.inc.html" %}
			<div class="main-info clearfix">
				<div class="img">
					<img src="/resource/img/pimg/{{product.photo[0]}}" data-big="/resource/img/pimg/{{product.photo[0]}}">
					<div class="zoom-pad"></div>
				</div>

				<div class="zoomin">
					<img src="about:blank">
				</div>
				<div class="meta-list-box">
					<div class="p-name">{{product.name}}</div>
					<div class="meta-list clearfix">
						<h2>Parameters</h2>
						<dl>
							<dt>Brand</dt>
							<dd>{{product.brand}}</dd>
						</dl>
						<dl>
							<dt>Model</dt>
							<dd>{{product.model}}</dd>
						</dl>
						<dl>
							<dt>Model Number</dt>
							<dd>{{product.mnumber}}</dd>
						</dl>
						<dl>
							<dt>Size</dt>
							<dd>{{product.size}}</dd>
						</dl>
						<dl>
							<dt>Weight</dt>
							<dd>{{product.weight}}</dd>
						</dl>
						<dl>
							<dt>Color</dt>
							<dd>{{product.color}}</dd>
						</dl>
						<dl>
							<dt>payment</dt>
							<dd>{{product.payment}}</dd>
						</dl>
						<dl>
							<dt>Atomizer Capacity</dt>
							<dd>{{product.atomizer}}</dd>
						</dl>
						<dl>
							<dt>Battery Capacity</dt>
							<dd>{{product.battery}}</dd>
						</dl>
						<dl>
							<dt>Voltage</dt>
							<dd>{{product.voltage}}</dd>
						<dl>
					</div>
				</div>
			</div>
			<div class="thumb-gallary">
				<button class="gallary-btn gallary-pre"></button>
				<button class="gallary-btn gallary-next"></button>
				<div class="gallary">
					<ul>
						{% for imgurl in product.photo %}
						<li class="focus"><img src="/resource/img/pimg/{{imgurl}}"></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>


	{% include "hot-list.inc.html" %}
	{% include "footer.inc.html" %}
	<script type="text/javascript" src="/resource/js/lib/require.js" data-main="/resource/js/index/zoom"></script>
{% endblock %}
