<ul class="nav nav-sidebar">
    <li {%if pageType=="good"%}class="active"{%endif%}><a href="/admin/product">product</a></li>
    <li {%if pageType=="about"%}class="active"{%endif%}><a href="/admin/about">About us</a></li>
    <li {%if pageType=="Services"%}class="active"{%endif%}><a href="#">Services</a></li>
    <li {%if pageType=="Contact"%}class="active"{%endif%}><a href="#">Contact</a></li>
    <li {%if pageType=="hot"%}class="active"{%endif%}><a href="">hot</a></li>
    <li {%if pageType=="slide"%}class="active"{%endif%}><a href="">slide</a></li>
</ul>