{% extends 'admin.base.html' %}
{% block "pageTitle" %}Add Product{% endblock %}
{% block page_css %}
{% parent %}
<script type="text/javascript" src="/resource/js/ckeditor/ckeditor.js"></script>
{% endblock %}
{% block "adminContent"%}
<form id="productForm" action="/admin/product/addproduct" class="form-horizontal" method="post" role="form">
	<div class="form-group">
    	<label class="col-sm-2 control-label">Category</label>
    	<div class="col-sm-10">
    		<select name="cid" required class="form-control">
    			<option value="-1">...uncategory...</option>
    			{%for index,cls in classList%}
    			<option value="{{cls.id}}">{{cls.name}}</option>
    			{%endfor%}
			</select>
    	</div>
    </div>
    <div class="form-group">
    	<label class="col-sm-2 control-label">Sub-Category</label>
    	<div class="col-sm-10">
    		<select name="subcid" required class="form-control">
				<option value="-1">...uncategory...</option>
			</select>
    	</div>
    </div>
    <div class="form-group">
    	<label class="col-sm-2 control-label" for="pName">Name</label>
    	<div class="col-sm-10">
    		<input name="name" type="text" required class="form-control" id="pName" placeholder="product name">
    	</div>
    </div>
    <div class="form-group">
    	<label class="col-sm-2 control-label" for="pBrand">brand</label>
    	<div class="col-sm-10">
    		<input name="brand" type="text" class="form-control" id="pBrand" placeholder="brand of the product">
    	</div>
    </div>
    <div class="form-group">
    	<label class="col-sm-2 control-label" for="pModel">Model</label>
    	<div class="col-sm-10">
    		<input name="model" type="text" class="form-control" id="pModel" placeholder="model">
    	</div>
    </div>
    <div class="form-group">
    	<label class="col-sm-2 control-label" for="pModelNumber">Model Number</label>
    	<div class="col-sm-10">
    		<input name="mnumber" type="text" class="form-control" id="pModelNumber" placeholder="model number">
    	</div>
    </div>
    <div class="form-group">
    	<label class="col-sm-2 control-label" for="pSize">Size</label>
    	<div class="col-sm-10">
    		<input name="size" type="text" class="form-control" id="pSize" placeholder="size">
    	</div>
    </div>
    <div class="form-group">
    	<label class="col-sm-2 control-label" for="pWeight">Weight</label>
    	<div class="col-sm-10">
    		<input name="weight" type="text" class="form-control" id="pWeight" placeholder="weight">
    	</div>
    </div>
    <div class="form-group">
    	<label class="col-sm-2 control-label" for="pBattery">Battery Capacity</label>
    	<div class="col-sm-10">
    		<input name="battery" type="text" class="form-control" id="pBattery" placeholder="Battery Capacity">
    	</div>
    </div>
    <div class="form-group">
    	<label class="col-sm-2 control-label" for="pAtomizer">Atomizer Capacity</label>
    	<div class="col-sm-10">
    		<input name="atomizer" type="text" class="form-control" id="pAtomizer" placeholder="Atomizer Capacity">
    	</div>
    </div>
    <div class="form-group">
    	<label class="col-sm-2 control-label" for="pVoltage">Voltage</label>
    	<div class="col-sm-10">
    		<input name="voltage" type="text" class="form-control" id="pVoltage" placeholder="voltage">
    	</div>
    </div>
    <div class="form-group">
    	<label class="col-sm-2 control-label" for="pColor">Color</label>
    	<div class="col-sm-10">
    		<input name="color" type="text" class="form-control" id="pColor" placeholder="Atomizer Capacity">
    	</div>
    </div>
    <div class="form-group">
    	<label class="col-sm-2 control-label" for="pPayment">Payment</label>
    	<div class="col-sm-10">
    		<input name="payment" type="text" class="form-control" id="pPayment" placeholder="payment">
    	</div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="pDesc">Description</label>
        <div class="col-sm-10">
            <textarea class="ckeditor" cols="80" id="pDesc" name="desc" rows="10"></textarea>
        </div>
    </div>
	<div class="form-group">
    	<div class="col-sm-offset-2 col-sm-10">
    		<button type="submit" class="btn btn-lg btn-success"> Add Product </button>
    	</div>
	</div>
</form>
<script type="text/javascript" src="/resource/js/lib/jquery.js"></script>
<script type="text/javascript" src="/resource/js/product/add.js"></script>
{% endblock %}